<div class="main">
  <mat-card>
    <mat-card-title>
      <h1 class="text-center">Contact Us</h1>
    </mat-card-title>
    <div class="form-group">
        <label>Name</label>
          <input type="text"
            class="form-control" name="name" id="name" placeholder="Enter your name">
            <label class="mt-3">Email</label>
            <input type="email"
            class="form-control" name="email" id="email"  placeholder="Enter your email address...">
            <label class="mt-3">Message</label><br>
            <textarea name="message" id=""  ></textarea><br>
            <button mat-raised-button type="submit" class="but mt-3">Submit</button>
        </div>
  </mat-card>
</div>