<body>
  <h1 id="title">Products</h1>
  <hr>
  <div class="container">
      <div class="product-card">
          <h1>Face Cream</h1>
          <p>Moisturizes skin.</p>
          <div class="product-pic"></div>
          <div class="product-info">
              <div class="product-price">$90</div>
              <a href="#" class="product-button">Add To Cart</a>
          </div>
      </div>
      <div class="product-card">
          <h1>Face Cream</h1>
          <p>Moisturizes skin.</p>
          <div class="product-pic"></div>
          <div class="product-info">
              <div class="product-price">$90</div>
              <a href="#" class="product-button">Add To Cart</a>
          </div>
      </div>
      <div class="product-card">
          <h1>Face Cream</h1>
          <p>Moisturizes skin.</p>
          <div class="product-pic"></div>
          <div class="product-info">
              <div class="product-price">$90</div>
              <a href="#" class="product-button">Add To Cart</a>
          </div>
      </div>
      <div class="product-card">
          <h1>Face Cream</h1>
          <p>Moisturizes skin.</p>
          <div class="product-pic"></div>
          <div class="product-info">
              <div class="product-price">$90</div>
              <a href="#" class="product-button">Add To Cart</a>
          </div>
      </div>
      <div class="product-card">
          <h1>Face Cream</h1>
          <p>Moisturizes skin.</p>
          <div class="product-pic"></div>
          <div class="product-info">
              <div class="product-price">$90</div>
              <a href="#" class="product-button">Add To Cart</a>
          </div>
      </div>
      <div class="product-card">
          <h1>Face Cream</h1>
          <p>Moisturizes skin.</p>
          <div class="product-pic"></div>
          <div class="product-info">
              <div class="product-price">$90</div>
              <a href="#" class="product-button">Add To Cart</a>
          </div>
      </div>
  </div>
</body>
