<div class="container">
  <div class="footer">
    <div class="row">
      <div class="col-sm-3">
        <h4>
          Shop Products
        </h4>
      </div>
      <div class="col-sm-3">
        <h4>
          Customer Service
        </h4>
      </div>
      <div class="col-sm-3">
        <h4>
          Company
        </h4>
      </div>
      <div class="col-sm-3">
        <h4>
          Subscribe and Save!
        </h4>
        <p>
            Join the Frekwent Beauty community and be the first to receive exclusive 
            news on product updates, limited editions and special sale promotions 
            from Frewkent Beauty. 
        </p>
        <div class="form-group">
          <input type="text"
            class="form-control" name="firstname" id="firstname" placeholder="Name">
            <input type="email"
            class="form-control" name="email" id="email"  placeholder="Enter your email address...">
            <button mat-raised-button type="submit" class="text-white but mt-3">SIGN UP</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h6> 2019 &copy; Frekwent Beauty | All rights reserved. </h6>
  </div>
</div>
